<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro Players</title>
</head>
<body>
    <div>
        {% for i in range(count)%}
            <p>
                <span>{{names[i]}}</span>
                <span>{{steamids[i]}}</span>
                <span><img src="{{avatars[i]}}"></span>
                <span>{{teams[i]}}</span>
                <span>{{teamids[i]}}</span>
            </p>
        {% endfor %}
    </div>
</body>
</html>